header {
    height: 100px;
    margin-top: 5px;
}

header div {
    height: 100px;
    text-align: center;
}

header img {
    float: left;
    margin-left: 20px;
}

h1 {
    font-size: 60px;
    margin-right: 260px;
}

@media only screen and (max-width: 1280px) {
    h1 {
        font-size: 40px;
    }
}

#container {
    width : 57.5%;
}

#tableau {
    width:37.5%;
}

#capt {
    text-align: right;
    font-size: 1.1em;
    margin-right: 45px;
}

#nbProduit {
    width : 70px !important;
    margin : auto;
}

table td,th {
    text-align: center !important;
    vertical-align: middle !important;
}

.pastille {
    width : 25px;
    height : 25px;
}

.gauche {
    text-align: right;
}

.fa-plus-circle {
    color: rgb(72, 174, 18);
}

.fa-trash-alt {
color: rgb(255, 0, 0);
}

i:hover {
    cursor: pointer;
}

#soumettre {
    width: 150px;
    height: 60px;
    font-size: 1.7em;
    margin-left:40%;
    margin-top:50px;
}

#groupeDate .form-control {
    margin-left: 50px;
    width: 150px !important;
    display: inline !important;
}

#none {
    display: none;
}

#ajoutGroupe, #modifGroupe {
    margin-left: 20px;
}

#groupeDate > * {
    vertical-align: middle;
}

#btnValider {
    background: none;
    padding: 0px;
    border: none;
}

.Produit {
    width:35%;
}

#nomProduit {
    width: 100%;
}