header {
    margin-top: 5px;
    height: 100px;
}

header div {
    height: 100px;
    text-align: center;
}

header img {
    float: left;
    margin-left: 20px;
}

h1 {
    font-size: 60px;
    margin-right: 60px;
    display: inline;
} 

@media only screen and (max-width: 1280px) {
    h1 {
        font-size: 40px;
    }
}  

select {
    float: right;
    margin-top: 15px;
    margin-right: 50px;
    font-size: 20px !important;
    width: 100px !important;
}

table {
    width: 40% !important;
    margin: auto !important;
    margin-bottom: 25px !important;
}

th,td {
    text-align: center !important;
}

p {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
}

span {
    font-size: 30px;
}

#btnExportTab {
    margin-bottom: 100px;
    margin-left : 30%;
    margin-bottom: 100px;
}

#prixMoyen {
    width: 30%;
    margin : auto;
}